Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity

WarningsAsErrors: ""

HeaderFilterRegex: "(^|.*/)(src|tests|benchmarks)/"

FormatStyle: file

CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
